
Task_Management_Dungeon/.idea/uiDesigner.xml
*.xml
Task_Management_Dungeon/.idea/gradle.xml
Task_Management_Dungeon/.idea/gradle.xml
Task_Management_Dungeon/gradle/wrapper/gradle-wrapper.jar
Task_Management_Dungeon/gradle/wrapper/gradle-wrapper.jar
Task_Management_Dungeon/gradle/wrapper/gradle-wrapper.jar
Task_Management_Dungeon/task_manager.db
Task_Management_Dungeon/Dungeon_Files/Test.dng
*.dng
