:root {
  --header-height: 60px;
    --toolbox-width: 0px;
}

body {
  margin: 0;
  max-width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: var(--header-height);
}

#page-title {
  padding-left: 10px;
}

#cat-logo {
  padding-top: 10px;
  padding-right: 10px;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - var(--header-height));
    position: relative;
}

#blockly {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
  position:relative;
}

#outputPanel {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 70%;
  padding-left: 1rem;
  background-color: rgba(230, 229, 228, 0.804);
  overflow-y: scroll;
}

#buttons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  width:100%;
}

#config_div {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#delay {
  width: 80%;
}

#startBtn {
  background-color: #31cf63;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 125px;
  cursor: pointer;
  margin: 5px;
}

#startBtn:hover {
  background-color: #239e4a;
}

#startBtn:disabled,
#startBtn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#resetBtn {
  background-color: #d83838;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 125px;
  cursor: pointer;
  margin: 5px;
}

#resetBtn:hover {
  background-color: #ac2424;
}

#response {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 10%;
}

.variableDiv {
    width: 200px;
    margin-block: 15px;
    text-align: center;
    overflow-x: hidden;
}

.blocklyFlyout .blocklyDisabled {
    display: none;
}

.level-selector-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position:relative;
}

.level-selector {
    margin: 0 10px;
    padding: 5px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.level-nav-button {
    cursor: pointer;
}

.level-nav-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.popupDiv {
    position: absolute;
    background-color: #d83838;
    z-index: 1;
    /*transform: translateX(-50%);*/
    text-align: center;
    display: None;
    opacity: 0;
    font-weight: bold;
    font-size: 1.6rem;

    /* Das Element startet erst dort, wo die Toolbox aufhört */
    /*left: var(--toolbox-width, 70px);*/
    left: var(--toolbox-width);
    /* Die Breite ist 100% vom injectionDiv MINUS die Toolbox */
    width: calc(100% - var(--toolbox-width));

    /* Verhindert, dass es hinter die Sidebar rutschen kann */
    z-index: 50;
}


.cross {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.cross span {
    position: relative; /* Basis für die Pseudoelemente */
    display: block;
    width: 100%;
    height: 100%;
}

.cross span::before,
.cross span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: center;
}

.cross span::before {
    transform: rotate(45deg);
}

.cross span::after {
    transform: rotate(-45deg);
}
