<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{dd.MM.yyyy HH:mm:ss.SSS}/%logger{1}@%t/%highlight{%level}] %msg%n%throwable" />
        </Console>
        <RollingFile name="file" fileName="logs/test/engine.log" filePattern="logs/%d{yyyy.MM.dd}_%i.log">
            <PatternLayout pattern="[%d{dd.MM.yyyy HH:mm:ss.SSS}/%logger{36}@%t/%level] %msg%n%throwable" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="256 MB" />
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>
